<h1 id="tocheading">Table of Contents</h1>
<div id="toc"></div>

In [1]:
%%javascript
$.getScript('https://kmahelona.github.io/ipython_notebook_goodies/ipython_notebook_toc.js')

# Weather Data

## Imports And Data Loading

In [2]:
import pandas as pd
from pandas import *
import numpy as np

In [3]:
weather = pd.ExcelFile('C:\\Users\\HP\Desktop\\PHD Hackathon\\Data Science\\PhD_Train_Data\\WeatherDataNew.xlsx')
weather9 = pd.read_excel(weather, sheetname='2009')
weather10 = pd.read_excel(weather, sheetname='2010', na_values=[' ', '-'])
weather11 = pd.read_excel(weather, sheetname='2011', na_values=[' ', '-'])
weather12 = pd.read_excel(weather, sheetname='2012', na_values=[' ', '-'])
weather13 = pd.read_excel(weather, sheetname='2013', na_values=[' ', '-'])
weather14 = pd.read_excel(weather, sheetname='2014', na_values=[' ', '-'])
weather15 = pd.read_excel(weather, sheetname='2015', na_values=[' ', '-'])
weather16 = pd.read_excel(weather, sheetname='2016', na_values=[' ', '-'])

In [4]:
df_list = [weather9, weather10, weather11, weather12, weather13, weather14, weather15, weather16]

weatherData = pd.concat(df_list)
weatherData.head()

,Year,Month,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,...,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent
0,2009,Jan,1,-3.0,-6.0,-9.0,-16.0,-17.0,-19.0,54.0,...,1023.0,1015.0,16.0,16.0,16.0,37,18,60,0,NaN
1,2009,Jan,2,1.0,-2.0,-5.0,-3.0,-7.0,-17.0,78.0,...,1012.0,1007.0,16.0,13.0,2.0,27,10,48,T,Snow
2,2009,Jan,3,3.0,1.0,-2.0,-5.0,-9.0,-13.0,72.0,...,1015.0,1008.0,16.0,16.0,16.0,27,16,42,T,NaN
3,2009,Jan,4,6.0,1.0,-4.0,-10.0,-12.0,-13.0,55.0,...,1017.0,1015.0,16.0,16.0,16.0,32,12,40,0,NaN
4,2009,Jan,5,6.0,5.0,3.0,-1.0,-5.0,-16.0,62.0,...,1014.0,1013.0,16.0,16.0,16.0,23,11,34,T,NaN

In [5]:
weatherData = weatherData.drop('Day',axis=1)

In [6]:
weatherData.shape

(2922, 22)

In [7]:
quant_list = [x*.1 for x in range(0,11)]
quant_list

[0.0,
 0.1,
 0.2,
 0.30000000000000004,
 0.4,
 0.5,
 0.6000000000000001,
 0.7000000000000001,
 0.8,
 0.9,
 1.0]

In [8]:
weatherData['Temp high (°C)'].quantile(quant_list)

0.0    -9.0
0.1     3.0
0.2     7.0
0.3    11.0
0.4    14.0
0.5    18.0
0.6    22.0
0.7    24.3
0.8    28.0
0.9    31.0
1.0    40.0
Name: Temp high (°C), dtype: float64

In [9]:
weatherData.columns = ['Year', 'Month', 'Temp high (°C)', 'Temp avg (°C)', 'Temp low (°C)',
                        'Dew Point high (°C)', 'Dew Point avg (°C)', 'Dew Point low (°C)',
                       'Humidity_high', 'Humidity_avg', 'Humidity_low','Sea Level Press high', 'Sea Level Press avg',
                       'Sea Level Press low', 'Visibility (km) high','Visibility (km) avg', 'Visibility (km) low', 'Wind (km/h) low',
                       'Wind (km/h) avg', 'Wind (km/h) high', 'Precip (mm) sum','WeatherEvent']

In [10]:
weatherData['Precip (mm) sum'] =   weatherData['Precip (mm) sum'].apply(lambda x: 0.01 if x == 'T' else x)  
weatherData['Precip (mm) sum'].isnull().sum()

weatherData.iloc[:, 2:-1] = weatherData.iloc[:, 2:-1].apply(pd.to_numeric, errors = 'coerce')

In [11]:
weatherData.dtypes

Year                      int64
Month                    object
Temp high (°C)          float64
Temp avg (°C)           float64
Temp low (°C)           float64
Dew Point high (°C)     float64
Dew Point avg (°C)      float64
Dew Point low (°C)      float64
Humidity_high           float64
Humidity_avg            float64
Humidity_low            float64
Sea Level Press high    float64
Sea Level Press avg     float64
Sea Level Press low     float64
Visibility (km) high    float64
Visibility (km) avg     float64
Visibility (km) low     float64
Wind (km/h) low         float64
Wind (km/h) avg         float64
Wind (km/h) high        float64
Precip (mm) sum         float64
WeatherEvent             object
dtype: object

In [12]:
bins = [0, 25, 50, 75, 100]
group_names = ['quant1','quant2','quant3','quant4']
#weatherDataCut = pd.DataFrame()

for i in weatherData.columns:
    if weatherData[i].dtype == 'float64':
        weatherData[i+'_bins'] = pd.cut(weatherData[i].values, bins, labels = group_names)

In [13]:
weatherData.head()

,Year,Month,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity_high,Humidity_avg,...,Sea Level Press high_bins,Sea Level Press avg_bins,Sea Level Press low_bins,Visibility (km) high_bins,Visibility (km) avg_bins,Visibility (km) low_bins,Wind (km/h) low_bins,Wind (km/h) avg_bins,Wind (km/h) high_bins,Precip (mm) sum_bins
0,2009,Jan,-3.0,-6.0,-9.0,-16.0,-17.0,-19.0,54.0,43.0,...,NaN,NaN,NaN,quant1,quant1,quant1,quant2,quant1,quant3,NaN
1,2009,Jan,1.0,-2.0,-5.0,-3.0,-7.0,-17.0,78.0,57.0,...,NaN,NaN,NaN,quant1,quant1,quant1,quant2,quant1,quant2,quant1
2,2009,Jan,3.0,1.0,-2.0,-5.0,-9.0,-13.0,72.0,54.0,...,NaN,NaN,NaN,quant1,quant1,quant1,quant2,quant1,quant2,quant1
3,2009,Jan,6.0,1.0,-4.0,-10.0,-12.0,-13.0,55.0,42.0,...,NaN,NaN,NaN,quant1,quant1,quant1,quant2,quant1,quant2,NaN
4,2009,Jan,6.0,5.0,3.0,-1.0,-5.0,-16.0,62.0,48.0,...,NaN,NaN,NaN,quant1,quant1,quant1,quant1,quant1,quant2,quant1

In [14]:
temp_high_pivot = pivot_table(weatherData, index=['Year','Month'], columns = ['Temp high (°C)_bins'],values = ['Temp high (°C)'])
temp_avg_pivot = pivot_table(weatherData, index=['Year','Month'], columns = ['Temp high (°C)_bins'],values = ['Temp high (°C)'])
temp_low_pivot = pivot_table(weatherData, index=['Year','Month'], columns = ['Temp high (°C)_bins'],values = ['Temp high (°C)'])

Dew_Point_high  = pivot_table(weatherData, index=['Year','Month'], columns = ['Dew Point high (°C)_bins'],values = ['Dew Point high (°C)'])
Dew_Point_avg  = pivot_table(weatherData, index=['Year','Month'], columns = ['Dew Point avg (°C)_bins'],values = ['Dew Point avg (°C)'])
Dew_Point_low  = pivot_table(weatherData, index=['Year','Month'], columns = ['Dew Point low (°C)_bins'],values = ['Dew Point low (°C)'])

Humidity_high = pivot_table(weatherData, index=['Year','Month'], columns = ['Humidity_high_bins'],values = ['Humidity_high'])
Humidity_avg = pivot_table(weatherData, index=['Year','Month'], columns = ['Humidity_avg_bins'],values = ['Humidity_avg'])
Humidity_low = pivot_table(weatherData, index=['Year','Month'], columns = ['Humidity_low_bins'],values = ['Humidity_low'])

Sea_Level_Press_high = pivot_table(weatherData, index=['Year','Month'], columns = ['Sea Level Press high_bins'],values = ['Sea Level Press high'])
Sea_Level_Press_avg = pivot_table(weatherData, index=['Year','Month'], columns = ['Sea Level Press avg_bins'],values = ['Sea Level Press avg'])
Sea_Level_Press_low = pivot_table(weatherData, index=['Year','Month'], columns = ['Sea Level Press low_bins'], values = ['Sea Level Press low'])

Visibility_high  = pivot_table(weatherData, index=['Year','Month'], columns = ['Visibility (km) high_bins'],values = ['Visibility (km) high'])
Visibility_avg  = pivot_table(weatherData, index=['Year','Month'], columns = ['Visibility (km) avg_bins'],values = ['Visibility (km) avg'])
Visibility_low  = pivot_table(weatherData, index=['Year','Month'], columns = ['Visibility (km) low_bins'],values = ['Visibility (km) low'])

Wind_high  = pivot_table(weatherData, index=['Year','Month'], columns = ['Wind (km/h) low_bins'],values = ['Wind (km/h) low'])
Wind_avg  = pivot_table(weatherData, index=['Year','Month'], columns = ['Wind (km/h) low_bins'],values = ['Wind (km/h) low'])
Wind_low  = pivot_table(weatherData, index=['Year','Month'], columns = ['Wind (km/h) low_bins'],values = ['Wind (km/h) low'])

Precip_sum  = pivot_table(weatherData, index=['Year','Month'], columns = ['Precip (mm) sum_bins'],values = ['Precip (mm) sum'])

In [15]:
col = [temp_high_pivot, temp_avg_pivot, temp_low_pivot,Dew_Point_high,Dew_Point_avg,Dew_Point_low,Humidity_high,Humidity_avg,
 Humidity_low,Sea_Level_Press_high,Sea_Level_Press_avg,Sea_Level_Press_low,Visibility_high,Visibility_avg,Visibility_low,
Wind_high, Wind_avg, Wind_low, Precip_sum]

In [16]:
total_pivoted = pd.concat([temp_high_pivot, temp_avg_pivot, temp_low_pivot,Dew_Point_high,
                           Dew_Point_avg,Dew_Point_low,Humidity_high,Humidity_avg,
                           Humidity_low,Sea_Level_Press_high,Sea_Level_Press_avg,Sea_Level_Press_low,Visibility_high,
                           Visibility_avg,Visibility_low,Wind_high, Wind_avg, Wind_low, Precip_sum], axis=1)

In [17]:
total_pivoted = total_pivoted.fillna(0)
total_pivoted.head()

                    Temp high (°C)                                             \
Temp high (°C)_bins         quant1 quant2     quant1 quant2     quant1 quant2
Year Month
2009 Apr                 14.480000  30.20  14.480000  30.20  14.480000  30.20
     Aug                 22.666667  29.24  22.666667  29.24  22.666667  29.24
     Dec                  7.333333   0.00   7.333333   0.00   7.333333   0.00
     Feb                  8.080000   0.00   8.080000   0.00   8.080000   0.00
     Jan                  3.555556   0.00   3.555556   0.00   3.555556   0.00

                    Dew Point high (°C)        Dew Point avg (°C)  \
Temp high (°C)_bins              quant1 quant2             quant1
Year Month
2009 Apr                       7.481481    0.0           5.700000
     Aug                      20.451613    0.0          18.483871
     Dec                       7.250000    0.0           5.000000
     Feb                       5.636364    0.0           4.666667
     Jan                       3.000000    0.0           1.000000

                    Dew Point low (°C)  ...   Wind (km/h) low             \
Temp high (°C)_bins             quant1  ...            quant1     quant2
Year Month                              ...
2009 Apr                      5.900000  ...         22.400000  29.750000
     Aug                     16.129032  ...         18.071429  30.666667
     Dec                      1.500000  ...         22.125000  30.826087
     Feb                      2.000000  ...         22.250000  32.187500
     Jan                      0.000000  ...         21.583333  30.421053

                                                        Precip (mm) sum  \
Temp high (°C)_bins quant3     quant1     quant2 quant3          quant1
Year Month
2009 Apr               0.0  22.400000  29.750000    0.0        6.140000
     Aug               0.0  18.071429  30.666667    0.0        6.215385
     Dec               0.0  22.125000  30.826087    0.0        9.953636
     Feb               0.0  22.250000  32.187500    0.0        2.733750
     Jan               0.0  21.583333  30.421053    0.0        4.137273


Temp high (°C)_bins quant2 quant3 quant4
Year Month
2009 Apr             45.47    0.0    0.0
     Aug             26.67    0.0    0.0
     Dec             37.59    0.0    0.0
     Feb              0.00    0.0    0.0
     Jan             30.23    0.0    0.0

[5 rows x 37 columns]

In [21]:
total_pivoted1 = total_pivoted.copy()
total_pivoted1.columns = [i[0]+i[1] for i in total_pivoted.columns]
total_pivoted1 = total_pivoted1.reset_index()

In [22]:
total_pivoted1.head()

,Year,Month,Temp high (°C)quant1,Temp high (°C)quant2,Temp high (°C)quant1,Temp high (°C)quant2,Temp high (°C)quant1,Temp high (°C)quant2,Dew Point high (°C)quant1,Dew Point high (°C)quant2,...,Wind (km/h) lowquant1,Wind (km/h) lowquant2,Wind (km/h) lowquant3,Wind (km/h) lowquant1,Wind (km/h) lowquant2,Wind (km/h) lowquant3,Precip (mm) sumquant1,Precip (mm) sumquant2,Precip (mm) sumquant3,Precip (mm) sumquant4
0,2009,Apr,14.480000,30.20,14.480000,30.20,14.480000,30.20,7.481481,0.0,...,22.400000,29.750000,0.0,22.400000,29.750000,0.0,6.140000,45.47,0.0,0.0
1,2009,Aug,22.666667,29.24,22.666667,29.24,22.666667,29.24,20.451613,0.0,...,18.071429,30.666667,0.0,18.071429,30.666667,0.0,6.215385,26.67,0.0,0.0
2,2009,Dec,7.333333,0.00,7.333333,0.00,7.333333,0.00,7.250000,0.0,...,22.125000,30.826087,0.0,22.125000,30.826087,0.0,9.953636,37.59,0.0,0.0
3,2009,Feb,8.080000,0.00,8.080000,0.00,8.080000,0.00,5.636364,0.0,...,22.250000,32.187500,0.0,22.250000,32.187500,0.0,2.733750,0.00,0.0,0.0
4,2009,Jan,3.555556,0.00,3.555556,0.00,3.555556,0.00,3.000000,0.0,...,21.583333,30.421053,0.0,21.583333,30.421053,0.0,4.137273,30.23,0.0,0.0

In [20]:
total_pivoted1.columns

Index(['Temp high (°C)quant1', 'Temp high (°C)quant2', 'Temp high (°C)quant1',
       'Temp high (°C)quant2', 'Temp high (°C)quant1', 'Temp high (°C)quant2',
       'Dew Point high (°C)quant1', 'Dew Point high (°C)quant2',
       'Dew Point avg (°C)quant1', 'Dew Point low (°C)quant1',
       'Humidity_highquant2', 'Humidity_highquant3', 'Humidity_highquant4',
       'Humidity_avgquant1', 'Humidity_avgquant2', 'Humidity_avgquant3',
       'Humidity_avgquant4', 'Humidity_lowquant1', 'Humidity_lowquant2',
       'Humidity_lowquant3', 'Humidity_lowquant4',
       'Visibility (km) highquant1', 'Visibility (km) avgquant1',
       'Visibility (km) lowquant1', 'Wind (km/h) lowquant1',
       'Wind (km/h) lowquant2', 'Wind (km/h) lowquant3',
       'Wind (km/h) lowquant1', 'Wind (km/h) lowquant2',
       'Wind (km/h) lowquant3', 'Wind (km/h) lowquant1',
       'Wind (km/h) lowquant2', 'Wind (km/h) lowquant3',
       'Precip (mm) sumquant1', 'Precip (mm) sumquant2',
       'Precip (mm) sumquant3', 'Precip (mm) sumquant4'],
      dtype='object')

In [ ]:
total_pivoted1_avg = total_pivoted1.groupby(['Year', 'Month']).agg('mean').